{% extends "base.html" %}

{% block content %}



<h1>修改密码</h1>

{% if changepasswordsuccess %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>修改成功，请记住您的密码</h4>
        </div>
    {% endif %}

{% if isnotequal %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>修改失败，前后两次密码不同</h4>
        </div>
    {% endif %} 
    {% if isnotop %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>修改失败，原密码错误</h4>
        </div>
    {% endif %}  
<form id="changeinfo" class="form-horizontal" role="form" method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-offset-2 col-sm-2 control-label">Old Password</label>
    	<div class="col-sm-3">
        	<input type="password" class="form-control" name="oldpassword" />
    	</div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-2 col-sm-2 control-label">New Password</label>
        <div class="col-sm-3">
            <input title="请输入至少4个字符" type="password" class="form-control" name="newpassword" onKeyUp=pwStrength(this.value) onBlur=pwStrength(this.value) minlength="4" />
            <br>密码强度:  
            <table width="210" border="1" cellspacing="0" cellpadding="1" bordercolor="#eeeeee" height="22" style='display:inline'>  
            <tr align="center" bgcolor="#f5f5f5">  
                <td width="33%" id="strength_L">弱</td>  
                <td width="33%" id="strength_M">中</td>  
                <td width="33%" id="strength_H">强</td>  
            </tr>  
            </table>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-2 col-sm-2 control-label">Check New Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" name="checknewpassword" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="submit" class="btn btn-default">修改</button>
        </div>
    </div>
</form>
{% endblock %}