{% extends "base.html" %}

{% block content %}
<h1>修改电话</h1>

{% if changephonesuccess %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>修改电话号码成功</h4>
        </div>
    {% endif %}

<form id="changeinfo" class="form-horizontal" role="form" method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label title="仅限输入数字" class="col-sm-offset-2 col-sm-2 control-label">New Phone</label>
        <div class="col-sm-3">
            <input title="仅限输入数字" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="form-control" name="newphone" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="submit" class="btn btn-default">修改</button>
        </div>
    </div>
</form>


{% endblock %}