{% extends "base.html" %}

{% block content %}



<h1>修改邮箱</h1>

{% if changeemailsuccess %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>邮箱修改成功</h4>
        </div>
    {% endif %}  
<form id="changeinfo" class="form-horizontal" role="form" method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-offset-2 col-sm-2 control-label">New Email</label>
					<div class="col-sm-3">
						<input type="email" class="form-control" name="newemail" />
					</div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="submit" class="btn btn-default">修改</button>
        </div>
    </div>
</form>

{% endblock %}