{% extends "base.html" %}
{% block content %}

{% csrf_token %}

<h1>活动详情</h1>

<!-- JiaThis Button BEGIN --><div id="ckepop">
<span class="jiathis_txt">分享到：</span>
<a class="jiathis_button_weixin">微信</a> 
<a href="http://www.jiathis.com/share"  class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
<a class="jiathis_counter_style"></a> </div> 
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
 <!-- JiaThis Button END-->


<div class="container"></div>


<dl class="dl-horizontal col-sm-offset-1">
				<dt>
					<h3>活动名称</h3>
				</dt>
				<dd>
					<h3>{{act.aname}}</h3>
				</dd>
				<dt>
					<h3>活动时间</h3>
				</dt>
				<dd>
					<h3>{{act.adate}}</h3>
				</dd>
				<dt>
					<h3>活动地点</h3>
				</dt>
				<dd>
					<h3>{{act.alocation}}</h3>
				</dd>
				<dt>
					<h3>活动描述</h3>
				</dt>
				<dd>
					<h3>{{act.adescription}}</h3>
				</dd>
				<dt>
					<h3>活动组织者</h3>
				</dt>
				
				<dd>
                    <h3><a href="{% url 'organizerdetail' id=organizer.id %}" title="点击查看组织者信息">{{act.aorganiser}}</a></h3>
				</dd>
				
				<dt>
					<h3>活动参与者</h3>
				</dt>
				<dd>
				    <h3>
					{% for par in act.aparticipants.all %}
					
                    {% if organizer_flag %}
                    {{par.username}}
                    {% else %}
					    <a href="{% url 'pardetail' id=par.id %}" title="点击查看参与者信息">{{par.username}}</a> 
					    {% endif %}
					    
					{% endfor %}
					</h3>
				</dd>
			</dl>
			


    {% if organizer_flag %}
       {% if join_flag %}
        <h1 class="text-center"><a href="{% url 'join' id=act.id %}" title="加入该活动">JOIN!</a></h1>
        {% else %}
        <h1 class="text-center"><a href="{% url 'quit' id=act.id %}" title="退出该活动">QUIT!</a></h1>
        {% endif %}
    {% else %}

        

    {% endif %}









{% endblock %}