{% extends "base.html" %}

{% block content %}

<h1>组织活动</h1>
<form id="organizeactivity" class="form-horizontal" role="form" method = 'post' enctype="multipart/form-data">
            {% csrf_token %}
				<div class="form-group">
					 <label title="活动名称" class="col-sm-offset-2 col-sm-2 control-label">Activity Name</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="aname" />
					</div>
				</div>
				<div class="form-group">
					 <label title="活动名称" class="col-sm-offset-2 col-sm-2 control-label">Activity Date</label>
					<div class="col-sm-3">
						<input type="date" class="form-control" name="adate" />
					</div>
				</div>
				<div class="form-group">
					 <label title="活动名称" class="col-sm-offset-2 col-sm-2 control-label">Activity Location</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="alocation" />
					</div>
				</div>
				<div class="form-group">
					 <label title="活动名称" class="col-sm-offset-2 col-sm-2 control-label">Activity Description</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="adescription" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-5 col-sm-10">
						 <button type="submit" class="btn btn-default">创建</button>
					</div>
				</div>
</form>


{% endblock %}